@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: .4fr 5fr / 1.2fr 4fr;
}
#nav {
  grid-area: 1/1/2/3;
  background-color: #0c4a6e;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
}
#navLeft {
  display: grid;
  grid-template: 1fr /.5fr .5fr 5fr;
  padding-left: 20px;
}
#navCenter {
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fdf6e4;
}
#navRight {
  display: grid;
  grid-template: 1fr/ 4fr 1.2fr ;
  align-items: center;
  text-align: right;
  color: #fdf6e4;
  padding-right: 20px;
}
#addTask {
  height: 100%;
  grid-area: 1/2/2/3;
  display: grid;
  grid-template: 1fr / .5fr 2fr;
  align-items: center;
  padding: 5px;
}

.navLeftItems{
  display: grid;
  align-items: center;
  justify-content: center;
}
.icons {
  width: 1.3rem;
}
#home:hover,
#menu:hover,
#addTask:hover {
  cursor: pointer;
  background-color: #0369a1;
}
#sidebar {
  grid-area: 2/1/3/2;
  background-color: #fdf6e4;
  padding: 30px 20px 30px 20px;
  display: grid;
  grid-template: 1fr 3fr / 1fr;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .9rem;
}
#upperSideBar .tab {
  grid-template: 1fr /.1fr 1fr;
  display: grid;
  align-items: center;
  justify-content: center;
  padding:5px;
  border-radius: 3px;

}
.tab:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}
#upperSidebar .tab img {
  margin-right: 10px;
}

/* Projects */

#projectsSectionTitle {
  font-size: 1.2rem;
  font-weight: 900;
}
.projects {
  display: grid;
  align-items: center;
  width: 100%;
  height: 2em;
  font: 1.2rem;
  font-weight: 300;
}
.projects:hover {
  background-color: beige;
  cursor: pointer;
}

#projectInputContainer {
  display: grid;
  grid-template: 1fr 1fr / 1fr ;
}
#newProjectInput {
  grid-area: 1/1/2/3;
  width: 100%;
  height: 1.5rem;
  padding: 5px;
  margin-bottom: 3px;
}
#projectInputBtns {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template: 1fr / 1fr 1fr;
  justify-content: center;
}
.projectsContainer {
  display: grid;
  grid-template: 1fr / 4fr 1fr;
}
.deleteProject {
  background: inherit;
  border: none;
}
.deleteProject:hover {
  background-color: beige;
  color: red;
}

#todayTab {
  width: 100%;
  height: 100%;
  padding: 50px 100px 0 100px;
  display: grid;
  grid-template: .3fr 5fr / 1fr;
}
#todayTabNav {
  display: flex;
  grid-area: 1/1/2/2;
}
.dayHeadings {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  margin-right: 7px;
  display: grid;
  align-items: flex-end;
  justify-content: center;

}
.dates {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

#section {
  grid-area: 2/2/3/3;
}

/* Form */

#formContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  width: 25rem;
  height: 18rem;
  padding: 10px;
}
form {
  display: grid;
}
.taskInput {
  width: 100%;
  margin-top: 10px;
}
.input {
  width: 100%;
}